.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    width: auto;
    margin-left: 30px;
}
.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    color: #002684;
}
.home .headerContainer button{
    background: #002684;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 15px;
}
@media only screen and (max-width:600px){
    .home{
        justify-content: left;
        align-items: center;
        
    }
    .headerContainer{
        margin-left: 0;
        border-radius: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .home .headerContainer h1{
        font-size: 35px;
        margin: 15px 0px;
    }
}