* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  .container3 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cover {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(100, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
  }
  .alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.75em;
    background-color: #245091;
    background-position: contain;
    cursor: pointer;
  }
  .google {
    background-image: url("../icons/google.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .facebook {
    background-image: url("../icons/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  input {
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    padding: 2em;
  }
  .login-btn {
    width: 80%;
    height: 3em;
    background-color: #245091;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .text {
    position: relative;
    top: 2px;
    bottom: -2em;
    font-size: large;
  }
  @media only screen and (min-device-width: 37em) {
    .page {
      font-size: 1em;
    }
  
    .cover {
      width: 60%;
      height: 70%;
    }
  }
  @media only screen and (min-device-width: 64em) {
    .page {
      font-size: 1.25em;
    }
  
    .cover {
      width: 25%;
      height: 65%;
    }
  }