.recipe_App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(26, 26, 114);
    padding: 40px 24px;
  }
  .app__searchForm{
    margin-top: 20px;
  }
  .app__input{
    padding: 6px 16px;
    min-width: 200px;
    max-width: 100vw;
    font-size: 15px;
    border-radius: 4px;
  }
  .app__submit{
    padding: 6px 16px;
    font-size: 15px;
    margin-left: 6px;
    /* margin-bottom: auto; */
    background-color: rgb(26, 26, 114);
    border: 2px solid rgb(26, 26, 114);
    border-radius: 25px;
    color: white;
    cursor: pointer;
  }
  .app__submit:hover{
    padding: 6px 16px;
    font-size: 15px;
    margin-left: 6px;
    background-color: white;
    border: 2px solid rgb(26, 26, 114);;
    border-radius: 15px;
    color: rgb(26, 26, 114);;
    cursor: pointer;
  
  }
  .app__recipes{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 230px 230px; 
    grid-template-columns: repeat(3,1fr);
    gap: 4%;
    text-align: center;
    align-items: baseline;
    justify-content: space-around;
  }
    /* width: 90vw; */
    /* grid-template-columns: repeat(3, minmax(250px,1fr));
    grid-template-rows: repeat(1, minmax(250px,1fr));
    justify-content:space-around;
    align-items: center; */

  .app_healthLabels{
    padding: 7px 8px;
    margin-left: 6px;
    border-radius: 5px;
    font-size: 15px;
  }
  @media only screen and (min-width: 200px) and (max-width: 767px){
    .recipe_App h1{
      text-align: center;
      /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: rgb(26, 26, 114); */
    padding: auto;
    /* margin-left: 10%; */
    width: 100%;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px){
    .app__searchForm{
      text-align: center;
      width: 100%;
      /* margin-top: 10%; */
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px){
    .app__submit{
      margin-top: 5%;
      text-align: center;
      width: 100%;
      /* margin-top: 10%; */
    }
  }
  @media (max-width: 1083px){
    .app__recipes{
        width: 100%;
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        /* column-gap: 10px; */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* margin-top: 5%; */
        gap: 0.5%;
    }
}
  